.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 0;
}

.header__logo {
  width: 94px;
  height: 26px;
  object-fit: contain;
}
