.modal {
  background-color: rgba(33, 33, 33, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;

  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}
.modal_is-opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 30px;
  position: relative;
}

.modal__close-btn {
  opacity: 0.4;
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url("../images/closeicon.svg");
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
}

.modal__form {
  flex-direction: column;
}

.modal__label {
  margin: 0px 0 0;
}

.modal__input {
  font-size: 20px;
  line-height: 1px;
  display: block;
  margin: 0px 0 0;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 32px;
  padding: 16px 12px;
  box-sizing: border-box;
  border-color: rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  height: 52px;
  border: 1px solid;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  width: 149px;
  cursor: pointer;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  border: none;
  border-radius: 8px;
  opacity: 1;
}

.modal__submit-btn:hover {
  opacity: 0.7;
}
@media screen and (max-width: 627px) {
  .modal__title {
    font-size: 20px;
  }
  .modal__container {
    padding: 32px 12px;
  }
}
