.profile {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  padding-top: 34px;
}

.profile__avatar {
  border-radius: 8px;
  width: 190px;
  height: 190px;
  margin-right: 20px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  max-width: 420px;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 100%;
  font-weight: 500;
  max-width: 420px;
}
.profile__description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: rgb(33 33 33 / 0.7);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__edit-btn {
  cursor: pointer;
  padding: 0px;
  display: flex;
  gap: 8px;
  opacity: 70%;
  background-color: transparent;
  border: none;
  margin-top: auto;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__add-btn {
  width: 149px;
  cursor: pointer;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  align-self: flex-end;
  margin-top: auto;
  margin-left: auto;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  border: none;
  border-radius: 8px;
}

.profile__add-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin-left: 0;
    margin: 0 0 12px 0;
  }

  .profile__column {
    align-items: center;
    margin-bottom: 20px;
  }

  .profile__name {
    text-align: center;
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__description {
    text-align: center;
    margin: 0 0 32px;
  }

  .profile__add-btn {
    margin: 0 auto;
    width: 100%;
  }
}
